@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #eff2f5;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #eff2f5;
    --foreground: #0a0a0a;

  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'roboto', sans-serif;
}

.text-small {
  font-size: 10px;
}


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}